#header {
    width: 100%;
    display: flex;
    padding: 20px;
    background: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}
#navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -330px;
    height: 102vh;
    width: 336px;
    background-color: #E3E6F3;
    box-shadow: 0 40px 60px rgba(0, 0, 0 / 10%);
    padding: 60px 30px ;
    transition: 0.3s;
}
#navbar.active{
    right: 0px;
}
#navbar li{
    padding-top: 20px;
    margin-bottom: 20px;
}
#mobile {
    display:flex;
    align-items: center;
}
#mobile i{
    color: #1a1a1a;
    font-size: 24px;
    padding-left: 20px;
}
#bag{
    display: none;
    text-align: center;
}
#close{
    display: flex;
    position: absolute;
    top: 30px;
    left: 40px;
    font-size: 1.6rem;
    color: #1a1a1a;
}
#hero{
    width: 100%;
    background-position:top 30% right 30%;
    position: relative;
}
#hero h4 {
    position: absolute;
    top: 20px;
    left: 30px;
    padding: 20px;
}

#hero h2 {
    font-size: 4.9rem;
    position: absolute;
    top: 70px;
    left: 20px;
    padding: 30px;
    line-height: 60px;
}

#hero h1 {
    position: absolute;
    top: 260px;
    left: 30px;
    padding: 40px 0;
    color: #088178;
}

#hero p {
    position: absolute;
    top:400px;
    left: 30px;
    padding: 30px 0;
}
#hero button {
    position: absolute;
    top: 480px;
    left: 10px;
}
#features{
    padding: 20px;
}
#features .feature-box {
    width: 150px;
    height: 25vh;
    margin: 0 0 10px 0;
}
#features .feature-box img {
    width: 110%;
}
#feapro h2 {
    position: relative;
    top: 18px;
    font-size: 70px;
    line-height: 52px;
}
#feapro p {
    position: relative;
    top: 15px;
    font-size: 22px;
}
#feapro .pro-container {
    padding-top: 15px;
}
#feapro .pro {
    width: 100%;
    margin: 5px 12px;
    padding: 10px 15px;
    position: relative;
}
#arrivals h2 {
    position: relative;
    top: 50px;
}
#arrivals p{
    font-size: 20px;
    color: #465b52;
    margin: 60px 0 20px 0;
}
#arrivals .pro-container {
    padding-top: 0;
}
#arrivals .pro {
    width: 100%;
    margin: 10px 12px;
}
/* Action bar */
#action-bar {
    height: 38vh;
    margin-top: 30px;
}
#action-bar .center h4{
    padding :25px 0 0 ;
    font-size: 1.6rem;
}
#action-bar .center h2 {
    font-size: 2.2rem;
    padding: 10px 0;
}
#action-bar .center button {
    margin-top: 3px;
    padding: 13px 10px;
}
#banner .banner-box {
    width: 48%;
    height: 30vh;
    margin: 8px 0px 10px;
    padding: 0;
    background-position-x: -120px
}
.banner-box h2 {
    font-size: 25px;
    line-height: 25px;
}
.banner-box span {
    font-size: 18px;
    padding-top: 4px;
}
.banner-box button {
    margin: 4px 40px;
    padding: 12px 10px;
    font-size: 1rem;
}
#banner2 .ban2 {
    width: 32%;
    height: 35vh;
    margin: 0 2px 30px 2px;
    background: url("/img/banner/b7.jpg") cover no-repeat;
    background-position: -110px;
    padding: 0;
}
#banner2 .ban2:nth-child(2) {
background-position: -230px;
}
#banner2 .ban2:nth-child(3) {
background-position: -170px;
background-size: 400px;
}
#banner2 .ban2 h2{
    font-size: 1.1rem;
    line-height: 25px;
}
#banner2 .ban2 h6 {
    font-size: 1rem;
}
#newsletter {
    padding: 12px 20px;
}
#newsletter .news h4 {
    font-size: 2rem;
    padding-bottom: 10px;
}
#newsletter .sign {
    width: 100%;
}
#newsletter button {
    padding: 0 6px;
    font-size: 15px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
footer .col .col4 h4 {
    padding: 20px 0 5px 0;
}
/* Single Product */
#prodetails {
    margin: 50px 0 40px 15px;
    display: flex;
    flex-direction: column;
}
#prodetails .single-pro-img {
    width: 93%;
}
#prodetails .single-pro-details {
    width: 100%;
}
#prodetails .single-pro-details h6 {
    padding:0;
}
#prodetails .single-pro-details h4 {
    padding: 30px 0 10px 0;
    font-size: 2rem;
}
#prodetails .single-pro-details h2 {
    font-size: 35px;
}
/* Blog page */
#blog {
    padding: 80px 20px 0 20px;
}
#blog .blog-box {
    flex-direction: column;
}
#blog .blog-img {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
}
/* About page */
#about {
    padding: 30px 15px;
} 
#about .about-box {
    flex-direction: column;
    align-items: flex-start;
}
#about img {
    width: 200%;
    height: 50vh;
    margin-right: 0px;
    padding-bottom: 20px;
}
#about .about-details {
    width: 100%;
    margin-left: 0px;
}
#video-sec {
    padding: 30px 7px 30px 7px;
}
#video-sec .video {
    width: 75%;
}
#video-sec .video video {
    width: 120%;
}
#video-sec h1 {
    font-size: 70px;
    line-height: 60px;
    color: #222;
}
/* conatct page */
#contact {
    margin: 20px 3px 30px 0;
    display: flex;
    flex-direction: column;
    justify-content:center;
}
#contact .detail h2 {
    width: 150%;
    font-size: 40px;
    line-height: 40px;
}
#message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: revert;
    margin: 20px 10px;
}
#message form {
    width: 100%;
}
#message form h2 {
    text-align: center;
}
#message form span {
    font-size: 25px;
    margin: 20px 0 0 40px;
    text-align: center;
}
#message form button {
    margin: 20px 0 10px 90px;
}
#message form input {
    width: 96%;
    padding: 15px 10px;
    margin: 9px 0 0 5px;
}
#message form textarea {
    width: 96%;
    margin: 9px 0 0 5px;
}
#message .people img {
    padding: 0px;
}
#message .people div {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#message .people p {
    text-align: center;
}
/* cart page */
#cart-add {
    justify-content: center;
}
#cart-add .coupon {
    width: auto;
    margin-left: 0;
}
#cart-add .coupon h3 {
    padding: 20px 0 20px 0;
    margin-left: 10px;
}

#cart-add .coupon input {
    width: 95%;
}
#cart-add .coupon button {
    margin: 20px 0 10px 60px;
    padding: 12px 35px;
}
#cart-add .cart-total {
    width: 100%;
    margin-right: 10px;
    margin-left:10px ;
}
#cart-add .cart-total table {
    width: 90%;
    margin-left: 15px;
    margin-bottom: 25px;
}
#cart-add .cart-total button {
    margin: 0 0 10px 30px;
}

/*Sign up form*/
#container {
    width: 100%;
    height: 130vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 20px 0;
}

#container .signform {
    width: 380px;
    height: 80vh;
    background: #e1e1e1;
    padding: 20px;
    margin: 0px 0 0px 0px;
    text-align: center;
    border-radius: 10px;
}