@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

h1{
    font-size: 80px;
    line-height: 60px;
    color:#222;
}

h2 {
    font-size: 85px;
    line-height: 50px;
    color:#222;
}
h4 {
    font-size: 35px;
    color:#222;
}
h6{
    font-weight: 700;
    font-size: 14px;
}
p{
    font-size: 20px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-m1{
    margin: 40px 0;
}
body{
    width: 100%;
}

/* header start */
#header {
display: flex;
align-items: center;
justify-content: space-between;
padding: 20px 80px;
background: #E3E6F3;
box-shadow: 0 5px 15px rgba(0,0,0,0.06);
z-index: 999;
position: sticky;
top: 0;
left: 0;
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}
#navbar li{
    list-style-type: none;
    padding: 0 20px;
}
#navbar li a{
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 400;
    color: #1a1a1a;
    transition: 0.4s ease;
    position: relative;
}
#navbar li a:hover,
#navbar li a.active{
    color: #088178;
}
#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 40%;
    height: 3px;
    background: #088178;
    position: absolute;
    bottom: -5px;
    left: 4px;
}

/* hero section */
#hero{
    width: 100%;
    height: 90vh;
    background: url("img/hero4.png") center/cover no-repeat;
    padding: 0 90px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
#close{
    display: none;
}
#mobile{
    display: none;
    align-items: center;
}
#hero h4{
    padding: 10px 10px ;
}
#hero h2{
    padding: 20px 0;
}
#hero h1{
    padding: 10px 0;
    color: #088178;
}
#hero p{
    padding: 0 10px;
}
#hero button{
    padding:16px 80px 14px 65px;
    font-size: 25px;
    font-weight: 600;
    background: url("img/button.png") no-repeat;
    background-color: transparent;
    color: #088178;
    border: 0;
    cursor: pointer;
}
/* Feature Section */
#features{
    padding: 40px;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
#features .feature-box{
    width: 200px;
    padding: 30px 25px;
    margin: 10px ;
    border: 0.2px solid #1a1a1a;
    border-radius: 4px;
    box-shadow: 5px 5px 6px rgba(0,0,0,0.4);
}
#features .feature-box:hover{
    box-shadow: 4px 3px 5px rgba(0,0,0,0.3);
}
#features .feature-box img{
    width: 100%;
    margin-bottom: 10px;

}
#features .feature-box h6{
    background-color: #fddde4;
    color: #088178;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    display: inline-block;
}
#features .feature-box:nth-child(2) h6 {  
background-color: #cdebbc;
}
#features .feature-box:nth-child(3) h6 {  
background-color: #d1e8f2;
}
#features .feature-box:nth-child(4) h6 {  
background-color: #cdd4f8;
}
#features .feature-box:nth-child(5) h6 {  
background-color: #f6dbf6;
}
#features .feature-box:nth-child(6) h6 {  
background-color: #fff2e5;
}
/* Featured Product section */
#feapro{
    text-align: center;
}
#feapro h2{
    position: relative;
    top: 40px;
}
#feapro p{
    position: relative;
    top: 40px;
}
#feapro .pro-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top:80px;
}

#feapro .pro{
width: 23%;
margin: 15px 12px;
min-width:250px;
padding:10px 12px;
border: 2px solid #cce7d0;
cursor: pointer;
border-radius:25px;
position: relative;
}
#feapro .pro img{
    width: 90%;
    border-radius: 20px;
}
#feapro .pro .description{
    text-align: start;
    padding: 15px 0;
}
#feapro .pro .description span{
font-size: 18px;
color: #606063;
}
#feapro .pro .description h5{
    padding: 7px 0;
    font-size: 17px;
    color: #1a1a1a;
}
#feapro .pro .star{
    padding: 4px 0;
font-size: 20px;
color: rgb(243, 181, 25);
}
#feapro .pro .description h4{
    padding: 10px 0;
    font-size: 1.4rem;
    font-weight: 600;
    color: #088178;
}
#feapro .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    position: absolute;
    bottom: 30px;
    right: 20px;
    border: 1px solid #cce7d0;
    border-radius: 50px;
    color: #088178;
    background-color: #e8f6ea;
}
/* Action bar section */
#action-bar{
    width: 100%;
    height: 40vh;
    margin-top: 40px;
    background: url("./img/banner/b2.jpg") center/cover no-repeat;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
#action-bar .center{
    padding: 30px 10px;
}
#action-bar .center h4{
    padding: 20px 0 0 ;
    color: #fff;
    font-size: 1.6rem;
}
#action-bar .center h2{
    font-size: 3.6rem;
    color: #fff2e5;
    padding: 20px 0;
}
#action-bar .center span{
    color: #D22B2B;
}
#action-bar .center button{
    margin-top: 10px;
    padding: 15px 20px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 10px;
    background-color: #f6dbf6;
    cursor: pointer;
}
#action-bar .center button:hover{
    background: #088178;
    color: #fff;
}
/* New Arrival */
#arrivals{
    text-align: center;
}
#arrivals h2{
    position: relative;
    top: 120px;
}
#arrivals .pro-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 170px;
}

#arrivals .pro {
    width: 23%;
    margin: 15px 12px;
    min-width: 250px;
    padding: 10px 12px;
    border: 2px solid #cce7d0;
    cursor: pointer;
    border-radius: 25px;
    position: relative;
}

#arrivals .pro img {
    width: 90%;
    border-radius: 20px;
}

#arrivals .pro .description {
    text-align: start;
    padding: 15px 0;
}

#arrivals .pro .description span {
    font-size: 18px;
    color: #606063;
}

#arrivals .pro .description h5 {
    padding: 7px 0;
    font-size: 17px;
    color: #1a1a1a;
}

#arrivals .pro .star {
    padding: 4px 0;
    font-size: 20px;
    color: rgb(243, 181, 25);
}

#arrivals .pro .description h4 {
    padding: 10px 0;
    font-size: 1.4rem;
    font-weight: 600;
    color: #088178;
}

#arrivals .pro .cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    position: absolute;
    bottom: 30px;
    right: 20px;
    border: 1px solid #cce7d0;
    border-radius: 50px;
    color: #088178;
    background-color: #e8f6ea;
}
/* banner section */
#banner{
    display: flex;
    justify-content: center;
    align-items: center;
}
#banner .banner-box{
    width: 50%;
    height: 50vh;
    margin: 70px 40px 40px;
    background: url("./img/banner/b17.jpg") center/cover no-repeat;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: flex-start;
    padding: 30px;
}
#banner .banner-box:nth-child(2){
background: url("img/banner/b10.jpg")center/cover no-repeat;
margin-left: 10px;
}
.banner-box h4{
    color: #fff;
    font-size: 28px;
    font-weight: 300;
}
.banner-box h2{
    color: #fff;
    font-size: 50px;
    font-weight: 600;
}
.banner-box span{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding-top: 10px;
}
.banner-box button{
    margin: 20px 0;
    padding: 15px 20px;
    font-size: 1.2rem;
    font-weight: 500;
    color: #e8f6ea;
    background-color: transparent;
    border: 2px solid ;
    cursor: pointer;
    border-radius: 10px;
}
.banner-box button:hover{
    border: 1px solid;
    background-color: #088178;
}
/* banner 2 section */
#banner2{
    display: flex;
    align-items: center;
}
#banner2 .ban2{
    width: 30%;
    height: 30vh;
    margin: 0  0 60px 40px;
    background: url("./img/banner/b7.jpg") center/cover no-repeat;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: flex-start;
    padding: 30px;
}
#banner2 .ban2:nth-child(2){
background: url("./img/banner/b4.jpg") center/cover no-repeat;
}
#banner2 .ban2:nth-child(3){
background: url("./img/banner/b18.jpg") center/cover no-repeat;
}
#banner2 .ban2 h2{
    color:#fff;
    font-size: 1.8rem;
    font-weight: 700;
    padding-bottom:5px;
}
#banner2 .ban2 h6{
    color: #D22B2B;
    font-size: 1.7rem;
    font-weight: 600;
}
/* Newsletter Section */
#newsletter{
    height: 25vh;
    background: url("./img/banner/b1.jpg") center/cover no-repeat;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px 70px;
}

#newsletter .news h4{
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
    padding-bottom: 15px;
}
#newsletter .news h6{
    color: #fddde4;
    font-size: 1.1rem;
    font-weight: 600;
    padding-bottom: 10px;
}
#newsletter .news span{
    color: rgb(202, 138, 20);
}
#newsletter .sign {
    display: flex;
    width: 40%;
}
#newsletter input{
    height: 3.125rem;
    padding: 0 1.25rem;
    font-size: 14px;
    width: 100%;
    border-radius: 6px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#newsletter input::placeholder{
    font-size: 1.3rem;
}
#newsletter button{
    background-color: #088178;
    color: #fff;
    white-space: nowrap;
    padding: 0 20px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 20px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
/* footer section */
footer .col{
    padding: 50px 60px 0 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer .col img{
    width: 180px;
}
footer .col h6{
    font-size: 1.3rem;
    font-weight: 700;
    padding:30px 0 20px 0;
}
footer .col .follow{
    padding: 20px 0;
}
footer .col .follow h4{
    font-size: 1.4rem;
    font-weight: 800;
    margin-bottom: 20px;
}
footer .col .follow i{
    width: 25px;
    font-size: 20px;
    padding: 10px 0;
}
footer .col .col2 a{
    display: flex;
    align-items: flex-start;
    text-decoration: none;
    padding: 10px;
    font-size: 1.2rem;
    color: #222;
}
footer .col .col3 a{
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 10px;
    font-size: 1.2rem;
    color: #1a1a1a;
}
footer .col .col2 h4{
    font-size: 1.7rem;
    font-weight: 600;
    padding: 0 0 20px 10px;
}
footer .col .col3 h4{
    font-size: 1.7rem;
    font-weight: 600;
    padding: 0 0 20px 10px;
}
footer .col .col4 h4{
    font-size: 1.7rem;
    font-weight: 600;
    padding: 0 0 20px 0;
}
footer .col .col4 .image{
    display: flex;
    justify-content: space-between;
    width: 80%;
}
footer .col .col4 img{
width: 70%;
padding: 10px 0;
}
footer .copyright{
    text-align: center;
}
/* Shop Page */
#ban-er {
    width: 100%;
    height: 45vh;
    background: url('./img/banner/b1.jpg') center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#ban-er h4 {
    font-size: 3.4rem;
    color: #fff;
    padding: 10px;
}

#ban-er p {
    color: #fff;
    font-size: 1.4rem;
}

#pagination{
    padding:40px;
    text-align: center;
}
#pagination a{
    padding: 15px 18px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    background-color: #088178;
    color: #fff;
    border-radius: 5px;
}
/* single Product Details */
#prodetails{
    margin:100px 0 40px 80px;
    display: flex;
}
#prodetails .single-pro-img{
    width: 40%;
    margin-right:80px;
}
.small-img-grp{
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    flex-basis: 27%;
    cursor: pointer;
    padding: 2px;
}
#prodetails .single-pro-details{
    width: 50%;
    padding-top: 30px;
}
#prodetails .single-pro-details h4{
    padding: 40px 0 10px 0;
    font-size: 2.2rem;
}
#prodetails .single-pro-details h2{
    padding: 10px 0 20px 0;
    font-size: 26px;
}
#prodetails .single-pro-details h6{
    padding:0 0 20px 0;
    font-size: 1.2rem;
}
#prodetails .single-pro-details select{
    display: block;
    padding: 5px 15px;
    margin-bottom: 20px;
    font-size: 1rem;
}
#prodetails .single-pro-details input{
    width: 50px;
    height: 35px;
    font-size: 20px;
    padding-left: 10px;
    margin-right: 10px;
}
#prodetails .single-pro-details input:focus{
    outline: none;
}
#prodetails .single-pro-details button{
    padding: 10px 15px;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 500;
    background-color: #088178;
    color: #fff;
    border: 0;
    border-radius: 5px;
}
#prodetails .single-pro-details span{
    line-height: 26px;
    font-size: 1.3rem;
}
/* Blog Page */
#ban-er2{
    width: 100%;
    height: 45vh;
    background: url('./img/banner/b19.jpg');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#ban-er2 h4{
    font-size: 3.4rem;
    font-weight: 700;
    color: #fff;
}
#ban-er2 p{
    font-size: 1.5rem;
    color: #fff;
}
#blog{
    padding: 150px 150px 0 150px;
}
#blog .blog-box{
    display: flex;
    align-items: center;
    width: 100%;
    position:relative;
    padding-bottom:90px;
}
#blog .blog-img{
width: 50%;
margin-right: 40px;
}
#blog img{
    width: 100%;
    height: 300px;
}
#blog .blog-details{
    width: 80%;
}
.blog-details h4{
    padding-bottom:20px;
}
.blog-details p{
    line-height: 23px;
}
#blog .blog-details a{
    text-decoration: none;
    font-size: 1.5rem;
    color: #000; 
    position: relative;
    transition: 0.3s;
}
#blog .blog-details a::after{
    content:"";
    width: 50px;
    height:1px;
    background-color: #000;
    position: absolute;
    top: 12px;
    right: -60px;
}
#blog .blog-box h1{
    position: absolute;
    top:-40px;
    color:#c9cbce;
    z-index: -9;
}
#blog .blog-details a:hover{
    color: #088178;
}
#blog .blog-details a:hover::after{
    background-color: #088178;
}
/* About page */
#ban-er3{
    width: 100%;
    height: 45vh;
    background: url('./img/about/banner.png');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#ban-er3 h4{
    font-size: 3.4rem;
    font-weight: 700;
    color: #fff;
}
#ban-er3 p {
    font-size: 1.5rem;
    color: #fff;
}
#about{
    padding: 40px 100px 40px 70px;
}
#about .about-box {
    display: flex;
    align-items: center;
}

#about .about-img {
    width: 50%;
    height: 100%;
}

#about img {
    width: 100%;
    height: 65vh;
    margin-right: 70px;
}
#about .about-details {
    width: 50%;
    margin-left: 60px;
}

.about-details h4 {
    font-size: 4rem;
}

.about-details p {
    line-height: 20px;
}
.about-details abbr{
    font-size: 1.2rem;
}
.about-details marquee{
    font-size: 1.2rem;
    background:#ccc;
    padding: 5px;
}
/* video section */
#video-sec{
    padding: 40px 20px 60px 20px;
    text-align: center;
}
#video-sec .video{
    width: 70%;
    height: 100%;
    margin: 30px auto 0 auto;
}
#video-sec .video video{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    align-items: center;
}
/* conatact section */
#ban-er4 {
    width: 100%;
    height: 45vh;
    background: url('./img/about/banner.png');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#ban-er4 h4 {
    font-size: 3.4rem;
    font-weight: 700;
    color: #fff;
}

#ban-er4 p {
    font-size: 1.5rem;
    color: #fff;
}
#contact{
    margin:30px 40px 30px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#contact .detail{
width: 50%;
}
#contact .detail span{
    font-size: 25px;
    padding: 10px 0;
}
#contact .detail h2{
    font-size: 50px;
    line-height: 45px;
    padding: 20px 0;
}
#contact .detail h3{
    font-size: 16px;
    padding-bottom: 15px;
}
#contact .detail li{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 10px 0;
}
#contact .detail li i{
    font-size: 16px;
    padding-right: 22px;
}
#contact .detail li p{
    margin:0;
    font-size: 18px;
}   
#contact .map {
    width: 55%;
    height: 450px;
}
#contact .map iframe{
    width: 100%;
    height: 100%;
}
#message{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 2px solid #ccc;
    margin: 35px 40px;
}
#message form{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#message form span {
    font-size: 20px;
    margin:20px 0 0 30px;
    padding: 10px 0;
}
#message form h2 {
    margin: 0 0 0 30px;
    font-size: 50px;
    line-height: 45px;
    padding: 20px 0;
}
#message form input{
    width: 90%; 
    padding: 15px 16px;
    margin: 10px 0 0 30px;
    font-size: 20px;
}
#message form textarea {
width: 90%;
padding: 10px;
margin:10px 0 0 30px;
font-size: 20px;
}
#message form button{
    margin: 20px 0 10px 30px;
    padding: 12px 20px;
    font-size: 17px;
    background-color: #088178;
    border: 0;
    border-radius: 10px;
    color: #ccc;
    cursor:pointer;
}
#message form input::placeholder {
    font-size: 20px;
}
#message form textarea::placeholder {
    font-size: 20px;
}
#message .people div{
    padding: 25px;
    display: flex;
    align-items: flex-start;
}
#message .people img{
    padding: 20px;
}
#message .people span{
    font-size: 24px;
    font-weight: 700;
    display: block;
}
#message .people p{
    line-height: 22px;
}
/* Cart Page */
#items-added{
    padding: 40px;
    overflow-x: auto;
}
#items-added table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}
#items-added table thead{
    font-size: 20px;
    border: 1px solid #ccc;
    border-left: none;
    border-right: none;
}
#items-added table thead td{
    font-weight: 400;
    text-transform: uppercase;
    padding: 12px 0;
}
#items-added table tbody tr td{
    padding-top: 16px ;
}
#items-added table tbody td{
    font-size: 17px;
}

#items-added table td:nth-child(1){
    width: 100px;
    text-align: center;
}
#items-added table td:nth-child(2){
    width: 200px;
    text-align: center;
}
#items-added table td:nth-child(3){
    width: 250px;
    text-align: center;
}
#items-added table td:nth-child(4),
#items-added table td:nth-child(5),
#items-added table td:nth-child(6){
    width: 150px;
    text-align: center;
}

#items-added table img{
    width:70px;
}
#items-added table input {
    width: 50px;
    height: 35px;
    font-size: 20px;
    padding-left: 10px;
    margin-right: 10px;
}

#items-added table input:focus {
    outline: none;
}
#cart-add{
    width: 100%; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px 0;
}
#cart-add .coupon{
    width: 40%;
    margin-left: 40px;
    margin-bottom: 30px;
}
#cart-add .coupon h3{
    padding: 30px 0 20px 0;
    font-size: 40px;
    margin-left: 0;
}
#cart-add .coupon input{
    width: 60%;
    padding: 10px 20px;
    margin-left: 0;
    font-size: 18px;
    border: 1px solid #e2e9e1;
}
#cart-add .coupon input::placeholder{
    font-size: 18px;
}
#cart-add .coupon button{
    margin: 20px 0 10px 30px;
    padding: 12px 30px;
    font-size: 19px;
    background-color: #088178;
    color: #fff;
    font-weight: 600;
    border:0;
    cursor: pointer;
    border-radius: 5px;
}
#cart-add .coupon button:hover{
    opacity: 0.8;
    transition: all 0.4s ease-in-out;
}

#cart-add .cart-total{
    width: 50%;
    margin-right: 35px;
    margin-bottom: 30px;
    padding: 30px;
    border: 2px solid #e2e9e1;
}
#cart-add .cart-total table{
    border-collapse:collapse;
    width: 80%;
    margin-left: 60px;
    margin-bottom: 40px;
}
#cart-add .cart-total h3{
    margin: 0 0 20px 60px;
    font-size: 30px;
}
#cart-add .cart-total table td{
    width: 50%;
    border:1px solid #e2e9e1;
    padding: 10px;
    font-size: 19px;
    text-align: center;
}
#cart-add .cart-total button {
    margin: 0 0 10px 60px;
    padding: 12px 30px;
    font-size: 19px;
    background-color: #088178;
    color: #fff;
    font-weight: 600;
    border: 0;
    cursor: pointer;
    border-radius: 5px;
}